/*MENU*/

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  margin-bottom: 35px;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}


/*CONTENIDO*/
.grid {
  margin: 1em;
  /*border: solid lightgray;*/
  /*background:lightgray;*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2px;
  counter-reset: div;
}
.grid div {
  border: solid;
  text-align:center;
  margin-left: 20px;
  margin-right: 20px;
  background:lightgray;
  padding-left: 10px;
  padding-right: 10px;
}
.grid div:before {
  counter-increment: div;
  /*content:'Div number :' counter(div);*/
}
.grid div[class]:after {
  display: block;
  text-align: center;
  background: lightblue;
  /*content: "Class applied : "attr(class);*/
  color: crimson;
}
.m-auto {
  margin:auto;
}
/* spanning cols */
.col-2 {
  grid-column: auto/span 2;
}
.col-3 {
  grid-column: auto/span 3;
}

.col-4 {
  grid-column: auto/span 4;
}

.col-6 {
  grid-column: auto/span 6;
}
.col-8 {
  grid-column: auto/span 8;
}
.col-9 {
  grid-column: auto/span 9;
}

/* spanning rows */

.row-2 {
  grid-row: auto/span 2;
}

.left{
  text-align: left !important;
}

.right{
  text-align: right !important;
}

.center{
  text-align: center !important;
}

.icon-item {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;

}
